.g {
	position: absolute;
	z-index: 2;
	height: 80px;
	width: 80px;
	right: 0;
	top: 0;
	transform: rotateY(180deg);
}

.a-svg {
	fill: rgb(21 21 19 / 35%);
	color: #fff;
	position: sticky;
	border: 0;
	transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
	transform-origin: 130px 106px;
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
